{% extends "base.html" %}

{% block content %}

<section style="padding-top:120px;">

    <h1 class="section-title">
        Admin Login
    </h1>

</section>

<section>

    <div class="contact-form" style="max-width:500px;margin:auto;">

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button
                type="submit"
                class="btn"
            >
                Login
            </button>

        </form>

    </div>

</section>

{% endblock %}